.mt-10 {
    margin-top: 10px;
    color: red
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}